.modal-header {
  // background: #000000;
  background: #5f9ea0;
  color: white;
}

#pop-content {
  padding: 10px;
  box-sizing: border-box;
}

#close-button {
  cursor: pointer;
  font-size: 2em;
}
